* {
  margin: 0;
  padding: 0;
  box-sizing: border;
}

@keyframes btn-up-down {
  form {
    transform: translateX(0px);
  }
  to {
    transform: translateY(10px);
  }
}

/* Shared Style */

.btn-primary {
  padding: 12px 16px;
  border-radius: 10px;

  animation: btn-up-down 1.5s ease-in-out infinite alternate;
}

.btn-primary img {
  width: 20px;
  height: 20px;
}

.inter-font-family {
  font-family: "Inter", sans-serif;
  font-style: normal;
}

body {
  background-color: #230e3d;
  color: white;
}

/* Navbar Style */
nav {
  max-width: 1200px;

  min-height: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav > p {
  font-weight: bolder;
  font-size: 40px;
}

.menu-container {
  display: flex;
  gap: 32px;
  font-weight: 500;
  font-size: 16px;
}

nav > span {
  margin-right: 5px;
  margin-top: 5px;
  display: none;
}

/* Banner Section Style */
.banner-section {
  max-width: 100%;
  height: 760px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#div1 {
  background-image: url("./Images/hero-circle.png");
  background-size: contain;
  background-position: center;
  width: 350px;
  height: 350px;
  margin: 0 auto;
  position: relative;
}

#tooltip {
  background-color: #00ff88;
  position: absolute;
  color: black;
  width: 100px;
  height: 55px;
  border-radius: 1000px;
  align-items: center;
  justify-items: center;
  margin-top: -450px;
  margin-right: -190px;
  font-weight: 700;
  padding: 16px;
  animation: btn-up-down 1.5s ease-in-out infinite alternate;
}

#div2 {
  margin-top: 40px;
  width: 550px;
  height: 100px;
  margin-left: 70px;
}

#div2 > h1 {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
}

#div2 > p {
  text-align: center;
  font-size: 16px;
}

.btn-group {
  width: 550px;
  margin-top: 24px;
  gap: 24px;
  justify-content: center;
  display: flex;
}

/* About Podcast Style */
.about-podcast {
  min-height: 400px;

  margin: 0 auto;

  justify-items: center;
}

#about-podcast-1 > h1 {
  margin-top: 50px;
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 16px;
}

#about-podcast-1 > p {
  text-align: center;
}

#about-podcast-1 {
  width: 1200px;
  min-height: 200px;
}

#about-podcast-2 {
  width: 1200px;
  min-height: 200px;
}

#about-podcast-2 hr {
  margin-top: 80px;
  margin-bottom: 80px;
  opacity: 10%;
}

.about-podcast-cart {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 80px;
}

.about-podcast-cart div > h1 {
  color: #00ff88;
  font-size: 48px;
  font-weight: 900;
  justify-items: center;
  margin-left: 10px;
}

.about-podcast-cart div > p {
  align-items: center;
}


/* Why Choose Section */
.choose-us{
  border: 2px solid red;
  max-width: 100%;
  min-height: 400px;
  margin-top: 120px;
  margin: 120px auto;
  justify-items: center;
 

}

.choose-us > h1{
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 40px;
}

.choose-us-cart-section{
  background-color: green;
  height: 763px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: (2, 200px);
}

.choose-us-cart-section div{
  position: relative;
}

#choose-us-cart-1{
  background-color:red;
  
  grid-row: 1/3;
}

#choose-us-cart-2{
  background-color:burlywood;
  grid-column: 2/6;
 

}

#choose-us-cart-3{
  background-color:yellow;
  grid-column: 2/6;

}

#choose-us-cart-4{
  background-color:orange;
  grid-column: 1/4;
  
  
}



#choose-us-cart-6{
  background-color:rgb(60, 61, 61);
 
}







/* Small Device Responsive */

@media screen and (max-width: 576px) {
  .sm-display-none {
    display: none;
  }

  nav {
    margin: 0 20px;
  }

  nav > span {
    display: inline;
  }

  .banner-section {
    height: auto;
    padding: 60px 20px;
    background-position: -30px -20px;
  }

  #div1 {
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
  }

  #div1 img {
    width: 40px;
  }

  #div2 {
    width: 100%;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
  }

  .btn-group {
    max-width: 100%;
    gap: 8px;
  }

  #tooltip {
    width: 70px;
    height: 35px;
    padding: 8px 16px;
    margin-top: -400px;
    margin-right: -140px;
  }

  #about-podcast-1,
  #about-podcast-2 {
    max-width: 100vw;
    padding: 0 20px;
  }
  #about-podcast-1 > h1 {
    font-size: 32px;
  }

  #about-podcast-2 hr {
    margin-top: 40px;
    margin-bottom: 40px;
    opacity: 10%;
  }

  .about-podcast-cart {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 0px;
    gap: 20px 25px;
  }

  .about-podcast-cart div > h1 {
    font-size: 30px;
    align-items: center;
    margin-left: 30px;
  }

  .about-podcast-cart div > p {
    justify-items: center;
    font-size: 0.9rem;
  }
}

/* Medium Device Responsive */

@media screen and (min-width: 577px) and (max-width: 992px) {
  .sm-display-none {
    display: none;
  }

  nav {
    margin: 0 20px;
  }

  nav > span {
    display: inline;
  }

  #about-podcast-1,
  #about-podcast-2 {
    max-width: 100%;
    padding: 0 50px;
  }

  .about-podcast-cart {
    max-width: 100%;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 40px;
    gap: 20px 25px;
  }

  .about-podcast-cart div > h1 {
    font-size: 40px;
    align-items: start;
  }

  .about-podcast-cart div > p {
    justify-items: center;
    font-size: 15px;
  }
}
