* {
  margin: 0;
  padding: 0;
  box-sizing: border;
}

@keyframes btn-up-down {
  form {
    transform: translateX(0px);
  }

  to {
    transform: translateY(10px);
  }
}

/* Shared Style */

.btn-primary {
  padding: 12px 16px;
  border-radius: 10px;

  animation: btn-up-down 1.5s ease-in-out infinite alternate;
}

.btn-primary img {
  width: 20px;
  height: 20px;
}

.inter-font-family {
  font-family: "Inter", sans-serif;
  font-style: normal;
}

.choose-teachWave-cart {
  background-color: rgba(53, 17, 101, 40);
  padding: 40px;

  border-radius: 40px;
}

.choose-teachWave-cart h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 16px 0;
}

body {
  background-color: #1a0b2e;
  color: white;
}

/* Navbar Style */
nav {
  max-width: 1200px;

  min-height: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav>p {
  font-weight: bolder;
  font-size: 40px;
}

.menu-container {
  display: flex;
  gap: 32px;
  font-weight: 500;
  font-size: 16px;
}

nav>span {
  margin-right: 5px;
  margin-top: 5px;
  display: none;
}

/* Banner Section Style */
.banner-section {
  max-width: 100%;
  height: 760px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#div1 {
  background-image: url("./Images/hero-circle.png");
  background-size: contain;
  background-position: center;
  width: 350px;
  height: 350px;
  margin: 0 auto;
  position: relative;
}

#tooltip {
  background-color: #00ff88;
  position: absolute;
  color: black;
  width: 100px;
  height: 55px;
  border-radius: 1000px;
  align-items: center;
  justify-items: center;
  margin-top: -450px;
  margin-right: -190px;
  font-weight: 700;
  padding: 16px;
  animation: btn-up-down 1.5s ease-in-out infinite alternate;
}

#div2 {
  margin-top: 40px;
  width: 550px;
  height: 100px;
  margin-left: 70px;
}

#div2>h1 {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
}

#div2>p {
  text-align: center;
  font-size: 16px;
}

.btn-group {
  width: 550px;
  margin-top: 24px;
  gap: 24px;
  justify-content: center;
  display: flex;
}

/* About Podcast Style */
.about-podcast {
  min-height: 400px;

  margin: 0 auto;

  justify-items: center;
  background-color: #1a0b2e;
}

#about-podcast-1>h1 {
  margin-top: 50px;
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 16px;
}

#about-podcast-1>p {
  text-align: center;
}

#about-podcast-1 {
  width: 1200px;
  min-height: 200px;
}

#about-podcast-2 {
  width: 1200px;
  min-height: 200px;
}

#about-podcast-2 hr {
  margin-top: 80px;
  margin-bottom: 80px;
  opacity: 10%;
}

.about-podcast-cart {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 80px;
}

.about-podcast-cart div>h1 {
  color: #00ff88;
  font-size: 48px;
  font-weight: 900;
  justify-items: center;
  margin-left: 10px;
}

.about-podcast-cart div>p {
  align-items: center;
}

/* Why Choose Section */
.choose-us {
  max-width: 100%;
  min-height: 400px;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 120px auto;
  justify-items: center;
  background-color: #230e3d;
}

#choose-us-cart-4 img {
  margin-left: -20px;
}

.choose-us>h1 {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 40px;
}

.choose-us-cart-section {
  height: auto;
  width: 1200px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.choose-us-cart-section div {
  position: relative;
}

#choose-us-cart-1 {
  grid-row: span 2;
  padding: 100px 40px;
}

#choose-us-cart-2 {
  grid-column: span 2;
}

#choose-us-cart-3 {
  grid-column: span 2;
}

#choose-us-cart-4 {
  grid-column: span 2;
}

#choose-us-cart-5 {
  grid-column: span 1;
}

/* Features Episodes Section */

.features-episodes-section {

  width: 100%;
  min-height: 700px;

  margin: 120px auto;
  justify-items: center;
}

.features-episodes-section>h1 {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
}

.features-episode-cart {
  max-width: 1200px;
  display: flex;
  gap: 30px;
}

.features-content {
  padding: 24px;
  background-color: #250d44;
  border-radius: 0px 0px 24px 24px;
}

.features-content h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 12px;
}

.features-episode-cart img {
  width: 380px;
  height: 214px;
  gap: 6px;
  border-radius: 24px 24px 0px 0px;
}

.time-duration {
  display: flex;
  margin-top: 12px;
  gap: 6px;
  color: #00ff88;
}

.time-duration img {
  margin-top: 2px;
}

.time-duration img {
  width: 16.67px;
  height: 16.47px;
}


.video-logo {

  padding: 8px 16px;
  margin-top: -400px;
  margin-left: 140px;


}

.video-logo img {
  width: 70px;
  height: 70px;
}


/* Meet The Host Section */
.meet-the-host {

  max-width: 1200px;
  margin: 0 auto;
  min-height: 400px;
  justify-items: center;
  margin-top: -120px;
}

.meet-the-host>h1 {

  font-size: 48px;
  font-style: bold;
}

.meet-the-host-cart {
  background-color: #351165;
  display: flex;
  margin-top: 40px;

  border-radius: 40px;
  padding: 40px;
  gap: 24px;

}

#meet-the-host-img {
  grid: span 1;

  width: 200px;


}

#meet-the-host-text {
  grid: span 4;
  width: calc(100% - 200px);



}

#meet-the-host-text>h1 {

  font-size: 32px;
  font-weight: 700;
  margin-bottom: 16px;

}

.meet-the-host-social {
  display: flex;
  gap: 8px;
  margin-top: 16px;
  padding: 10px;


}

.meet-the-host-social span {


  width: 40px;
  height: 40px;
  border: 1px solid #533C72;
  border-radius: 50%;
  padding: 10px;


}

footer{
  
  max-width: 100%;
  height: 412px;
  background-image: url("./Images/footer-bg.png");
  margin: 0 auto;
  justify-items: center;
  align-content: center;
  margin-top: 120px;
  
 
}

#footer-content{
  margin-left: 50px;
  
}

#footer-content>p{
  margin-top: -50px;
  font-weight: bolder;
  font-size: 80px;
  margin-left: 90px;
}

#footer-content>h4{
  
  text-align: center;
  margin-top: 35px;
}

.brand-img{
  margin-left: 20px;
  display: flex;
  gap: 40px;
}

.brand-img-cart{
  display: flex;
  gap: 8px;
}

.brand-img-cart img{
  width: 24px;
  height: 24px;
}







/* Small Device Responsive */

@media screen and (max-width: 576px) {
  .sm-display-none {
    display: none;
  }

  nav {
    margin: 0 20px;
  }

  nav>span {
    display: inline;
  }

  .banner-section {
    height: auto;
    padding: 60px 20px;
    background-position: -30px -20px;
  }

  #div1 {
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
  }

  #div1 img {
    width: 40px;
  }

  #div2 {
    width: 100%;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
  }

  .btn-group {
    max-width: 100%;
    gap: 8px;
  }

  #tooltip {
    width: 70px;
    height: 35px;
    padding: 8px 16px;
    margin-top: -400px;
    margin-right: -140px;
  }

  #about-podcast-1,
  #about-podcast-2 {
    max-width: 100vw;
    padding: 0 20px;
  }

  #about-podcast-1>h1 {
    font-size: 32px;
  }

  #about-podcast-2 hr {
    margin-top: 40px;
    margin-bottom: 40px;
    opacity: 10%;
  }

  .about-podcast-cart {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 0px;
    gap: 20px 25px;
  }

  .about-podcast-cart div>h1 {
    font-size: 30px;
    align-items: center;
    margin-left: 30px;
  }

  .about-podcast-cart div>p {
    justify-items: center;
    font-size: 0.9rem;
  }

  .choose-teachWave-cart {
    background-color: rgba(53, 17, 101, 40);
    padding: 20px;

    border-radius: 20px;
  }

  .choose-us>h1 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 16px;
  }

  .choose-us-cart-section {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;

    padding: 0 20px;
    box-sizing: border-box;
  }

  .choose-teachWave-cart h2 {
    font-size: 22px;
    font-weight: bold;
  }

  #choose-us-cart-1,
  #choose-us-cart-2,
  #choose-us-cart-3,
  #choose-us-cart-4,
  #choose-us-cart-5 {
    grid-column: span 1;
  }

  #choose-us-cart-1 {
    grid-row: 1;
    padding: 20px;
  }

  .features-episodes-section {
    padding: 20px;
    margin: 0;
    justify-items: start;
    margin-top: -80px;
  }

  .features-episodes-section>h1 {
    font-size: 32px;

    margin: 0 auto;


  }

  .features-episode-cart {
    margin-top: 24px;
    width: 100%;
    flex-direction: column;
    height: auto;
    gap: 300px;
  }

  .meet-the-host {
    margin-top: 350px;
  }

  .meet-the-host>h1 {

    font-size: 32px;
    margin-bottom: 24px;

  }

  .meet-the-host-cart {
    background-color: #351165;
    display: grid;
    grid-template-columns: 1fr;

    border-radius: 24px;
    padding: 24px;
    margin: 0 50px;
    width: 380px;
    align-content: center;
  }

  #meet-the-host-img {
    width: 100%;

    justify-items: center;
  }

  #meet-the-host-text {
    width: 100%;
    justify-items: center;
    text-align: center;
  }

  footer{
  max-width: 100%;
  width: 440px;
  height: 412px;
  background-image: url("./Images/footer-bg.png");
  
  justify-items: center;
  
  background-size: 400px 300px;
  background-repeat: no-repeat;
 

  
  margin-top: 120px;
  
 
}

#footer-content{
  margin-left: 50px;
  
}

#footer-content>p{
  margin-top: -120px;
  font-weight: bolder;
  font-size: 40px;
  margin-left: 0px;
  text-align: center;
  margin-right: 25px ;
 
}

#footer-content>h4{
  
  
  font-size: 15px;
  margin-top:24px;
  
  
}

.brand-img{
  
  flex-wrap: wrap;
  gap: 16px;
  
  
}




.brand-img-cart img{
  width: 24px;
  height: 24px;
}





}

/* Medium Device Responsive */

@media screen and (min-width: 577px) and (max-width: 992px) {
  .sm-display-none {
    display: none;
  }

  nav {
    margin: 0 20px;
  }

  nav>span {
    display: inline;
  }

  #about-podcast-1,
  #about-podcast-2 {
    max-width: 100%;
    padding: 0 50px;
  }

  .about-podcast-cart {
    max-width: 100%;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 40px;
    gap: 20px 25px;
  }

  .about-podcast-cart div>h1 {
    font-size: 40px;
    align-items: start;
  }

  .about-podcast-cart div>p {
    justify-items: center;
    font-size: 15px;
  }

  .choose-teachWave-cart {
    background-color: rgba(53, 17, 101, 40);
    padding: 20px;

    border-radius: 20px;
  }

  .choose-us>h1 {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 16px;
  }

  .choose-us-cart-section {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;

    padding: 0 30px;
    box-sizing: border-box;
  }

  .choose-teachWave-cart h2 {
    font-size: 35px;
    font-weight: bold;
  }

  #choose-us-cart-1,
  #choose-us-cart-2,
  #choose-us-cart-3,
  #choose-us-cart-4,
  #choose-us-cart-5 {
    grid-column: span 1;
  }

  #choose-us-cart-1 {
    grid-row: 1;
    padding: 20px;
  }

  .features-episodes-section {
    padding: 20px;
    margin: 0;
    justify-items: start;
  }

  .features-episodes-section>h1 {
    font-size: 35px;

    margin: 0 auto;


  }

  .features-episode-cart {
    margin-top: 24px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 350px;
    height: auto;

  }

  .meet-the-host {

 margin-top:350px;
}

.meet-the-host-cart{
  width: 90%;
}


footer{
  
  width: 100%;
  height: 412px;
  background-image: url("./Images/footer-bg.png");
  
  justify-items: center;
  background-repeat: repeat;
  
  
 

  
  margin-top: 120px;
  
 
}

#footer-content{
  margin-left: 50px;
  
}

#footer-content>p{
  margin-top: -120px;
  font-weight: bolder;
  font-size: 40px;
  margin-left: 0px;
  text-align: center;
  margin-right: 25px ;
 
}

#footer-content>h4{
  
  
  font-size: 15px;
  margin-top:24px;
  
}

.brand-img{
  
  flex-wrap: wrap;
  gap: 16px;
  
  
}




.brand-img-cart img{
  width: 24px;
  height: 24px;
}

  
}