* {
  margin: 0;
  padding: 0;
  box-sizing: border;
}

@keyframes btn-move {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(-10px);
  }
}

/* Shared Style */

.btn-primary {
  padding: 12px 16px;
  border-radius: 10px;
  width: 135px;
  height: 44px;
  animation: btn-move 1.5s ease-in-out infinite alternate;
}

.inter-font-family {
  font-family: "Inter", sans-serif;
  font-style: normal;
}

body {
  background-color: #230e3d;
  color: white;
}

/* Navbar Style */
nav {
  max-width: 1200px;

  min-height: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav > p {
  font-weight: bolder;
  font-size: 40px;
}

.menu-container {
  display: flex;
  gap: 32px;
  font-weight: 500;
  font-size: 16px;
}

nav > span {
  margin-right: 5px;
  margin-top: 5px;
  display: none;
}

/* Small Device Responsive */

@media screen and (max-width: 576px) {
  .sm-display-none {
    display: none;
  }

  nav {
    margin: 0 20px;
  }

  nav > span {
    display: inline;
  }
}

/* Medium Device Responsive */

@media screen and (min-width: 577px) and (max-width: 992px) {
  .sm-display-none {
    display: none;
  }

  nav {
    margin: 0 20px;
  }

  nav > span {
    display: inline;
  }
}
